{% extends 'BdlsProjetBundle:Default:layout.html.twig' %}   
{% block body %}
	<div id="content">
		<div id ="poll">
			<div id="back_button_dashboard">
				<a class="orange_button" href="{{ path('bdls_projet_index') }}" >Retour</a>
			</div>
			<div id="poll_title_box" >
				{#$eventTitle#}
				<h1 class="title" > {{ data.eventTitle }} </h1>
				{#$creationDate, $userFName, $userLName, $eventDate#}
                                <p class="text">Créé le {{ data.creationDate }} | Par {{ data.user }} <br> {{data.eventDate }}</p>
			</div>
			
			<p class="text" > {{data.eventDescription}} </p>
			{%if not data.openedPoll  %}
				{{ data.eventDescription}}               
                                <h1 class="big_title" id="result">Le choix ayant recueilli le plus de voix est: {{ data.stat[0].answer}}</h1>
			{% endif %}
                        
			{#$this->getHomeUrl(); echo '/poll/view/'.$urlPoll  =>  http://127.0.0.1/poll/view/$urlPoll#}
			<form onsubmit="return formCheck(this);" method="post" action="{{ data.urlPoll}}">						
                                            {% if data.type =="text"%}
                                                 {% include 'BdlsProjetBundle:Default/PollView:pollTextView.html.twig' %}
                                            {%elseif data.type =="date"%}
                                                 {% include 'BdlsProjetBundle:Default/PollView:pollDateView.html.twig' %}
                                            {%elseif data.type =="place"%}
                                                 {% include 'BdlsProjetBundle:Default/PollView:pollPlaceView.html.twig' %}
                                            {%else%}
                                                Il y a comme un problème ceci est impossible bravo tu as casser le site/les controllers et le model de donné
                                                <br> Merci de nous envoyer un mail pour nous expliquer ton exploit 
                                            {%endif%}                           					
                                
				{%if data.openedPoll and not data.message is defined  %}
                                    <input type="text" class="small_text_edit" placeholder="Prénom Nom" name="name" value="{{ app.user.username }}">
                                    <input type="submit" class="orange_small_button" value="Voter" >
                                    {% if data['data_updated'] is defined %}
                                                    {% if data['data_updated']%} 
                                                            <div style="float: right;" class="success_message message_personal_data">Votre vote a bien été pris en compte.</div>
                                                    {% else %}
                                                            <div style="float: right;" class="error_message message_personal_data">Erreur, vérifiez les données saisies.</div>
                                                    {% endif %}
                                                    <script>
                                                            $('.success_message').delay(4000).slideUp(300);
                                                    </script>
                                   {% endif %}
                            {% else %}  
                                   <div  class="success_message message_personal_data">{{data.message}}</div>                 
                            {%endif%}                    
			</form>
                                
		</div>
	</div>
{% endblock %}