{% extends 'PollBundle:PollView:pollCreation_template.html.twig' %}
{% block choices %}
    <div id="choices">
        <div class="choice">
            <label for="choix1" class="text lbl_choice">Choix 1<span class="asterisc"> *</span></label>
            <input class="text_edit input_choice form-control" id="choix1" type="text" name="choices[]" value=""
                   required="required"/>
            <input type="button" value="V" class="valid btn btn-default green_button" onClick="codeAddress(choix1);">
        </div>
        <div class="choice">
            <label for="choix2" class="text lbl_choice">Choix 2<span class="asterisc"> *</span></label>
            <input class="text_edit input_choice form-control" id="choix2" type="text" name="choices[]" value=""
                   required="required"/>
            <input type="button" value="V" class="valid btn btn-default green_button" onClick="codeAddress(choix2);">
        </div>

    </div>
    <div id="add_choice" class="choice">
        <input class="text_edit input_choice form-control add_choix" id="choix3" type="text" name="choices[]"
               disabled="true" placeholder="Ajouter un choix"/>
        <a class="btn btn-default orange_button add_choice_button" title="Ajouter un champ" id="add_choice_button"
           type="button" onclick="manageChoices(this,'{{ type }}');">+</a>
    </div>

    <!-- Map google -->
    <div id="map-canvas" class="map"></div>

    <!-- bouton pour appeler l'ajax qui met le tableau posmarkers dans la variable de session 'position' -->
    <input class="btn btn-default orange_button next_step" type="submit" value="Étape suivante"
           onClick="tableauPosGPS();"/>
    </form>
    </div>
{% endblock %}


{% block choices_mobile %}

    <div id="choices" class="choice_map">
        <div class="choice choice-xs choice_map-xs">
            <label for="choix1" class="text lbl_choice">Choix 1<span class="asterisc"> *</span></label>
            <input class="text_edit input_choice form-control" id="choix1" type="text" name="choices[]" value=""/>
            <input type="button" value="V" class="valid btn btn-default green_button" onClick="codeAddress(choix1);">
        </div>
        <div class="choice choice-xs choice_map-xs">
            <label for="choix2" class="text lbl_choice">Choix 2<span class="asterisc"> *</span></label>
            <input class="text_edit input_choice form-control" id="choix2" type="text" name="choices[]" value=""/>
            <input type="button" value="V" class="valid btn btn-default green_button" onClick="codeAddress(choix2);">
        </div>
    </div>
    <div class="choice choice-xs choice_map-xs">
        <input class="text_edit input_choice form-control add_choix" id="choix3" type="text" name="choices[]"
               disabled="true" placeholder="Ajouter un choix"/>
        <a class="btn btn-default orange_button add_choice_button" title="Ajouter un champ" id="add_choice_button"
           type="button" onclick="manageChoices(this,'{{ type }}');">+</a>
    </div>
    <input class="btn btn-default orange_button next_step_map-xs" type="button" onClick="formCheck(this);"
           value="Étape suivante"/>
{% endblock %}
               

  {% block javascripts %}
      {{ parent() }}
      <!-- Chargement de l'API google map -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNOpHpuGzB9PguOdh3naoMxPzBhOonyo4&v=3.exp&sensor=false"></script>
      <!-- Chargement de place API pour l'autocomplétion de l'input" -->
      <script type="text/javascript"
              src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
      <script src={{ asset('js/sondage_map.js') }}></script>
      <script src={{ asset('js/formCheck.js') }}></script>
  {% endblock %}



