{% extends 'BdlsProjetBundle:Default:layout.html.twig' %}
		{% block body %}
			<div id="content" class="hidden-xs">
				<article class="use_description" >

					<div class="icon_article" id="img_un">
						<img class="img_un img-circle" src="{{ asset('bundles/projet/media/pictures/1_140x140.png') }}" alt="1">
					</div>
					<div class="text_article">
                                            <h2 class="big_title">Créez votre <br class="visible-xs" />sondage</h2>
                                            <p class="big_text hidden-xs">Un dîner entre amis à organiser ? Un avis à demander ? Créez votre sondage en un rien de temps selon vos envies.</p>
					</div>
				</article>
                                
				<article class="use_description">
					<div class="icon_article" id="img_deux">
						<img class="img_deux img-circle" src="{{ asset('bundles/projet/media/pictures/2_140x140.png') }}" alt="2">
					</div>
					<div class="text_article">
						<h2 class="big_title">Ajoutez des <br class="visible-xs" />propositions</h2>
						<p class="big_text hidden-xs">Votre sondage peut comporter le nombre de propositions que vous souhaitez, ajoutez-en ou supprimez-en dynamiquement.</p>
					</div>
				</article>
				
				<article class="use_description">
					<div class="icon_article" id="img_trois">
						<img class="img_trois img-circle" src="{{ asset('bundles/projet/media/pictures/3_140x140.png') }}" alt="3">
					</div>
					<div class="text_article">
						<h2 class="big_title">Partagez-le !</h2>
						<p class="big_text hidden-xs">Invitez les personnes susceptibles de venir répondre à votre sondage. Après votre inscription, un mail leur sera envoyé pour qu'ils puissent venir faire leur choix.</p>
					</div>
				</article>

				<!-- Formulaire pour le choix de sondage -->
				<article class="use_description">
					<div class="text_article div_etape4">
						<h2 class="big_title">Choix du type : </h2>
						<form action="" method="post" {{ form_enctype(form) }}>
						    {{ form_widget(form) }}                                         
						    <input type="submit" class=" btn btn-default orange_button styled_a_div orange_big_button" value="C'est parti !" />
                                                                       <!-- Select -->
                                                <div class="div_choix">
                                                    <div class="btn-group styled_select_div"> 
                                                      <!-- Boutton du Select -->
                                                      <span class="btn btn-default styled_select span_select" data-toggle="dropdown"><img src="{{ asset('bundles/projet/images/pictures/icone_autre.png') }}" class="img_option">Textuel</span>
                                                      <button type="button" class="btn btn-default dropdown-toggle styled_select_button" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                      </button> 
                                                      <!-- Liste des éléments -->
                                                     <ul class="dropdown-menu list_select" role="menu">
                                                        <li onclick="saveState(this);" class="list_option" id="c3"> <img src="{{ asset('bundles/projet/images/pictures/icone_autre.png') }}" class="img_option">Textuel</li>
                                                        <li onclick="saveState(this);" class="list_option" id="c1"  > <img src="{{ asset('bundles/projet/images/pictures/icone_map.png') }}" class="img_option">Lieux</li>
                                                        <li onclick="saveState(this);" class="list_option" id="c2" ><img src="{{ asset('bundles/projet/images/pictures/icone_calendrier.png') }}" class="img_option">Date</li>
                                                      </ul>
                                                    </div>
                                                    <!-- <a id="create_survey" class="btn btn-default orange_button styled_a_div" href="{{ path('bdls_projet_creation') }}">C'est parti !</a> -->
						                                          
                                                </div>
                                                </form> 
					</div>
				</article>

                    
				<p id="asterisk" class="bold">*Créer un sondage nécessite une inscription, celle-ci peut se faire en même temps que <br class="visible-xs" />la création de votre sondage</p>
                                                                                       
                        </div>
                      

                        <!-- Version modbile -->
                        <div id="content-xs" class="visible-xs">
                            
                            <!-- Modal -->
                              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                 <form action="{{ path('fos_user_security_check') }}" method="post" class="form-inline">
                                 <div class="modal-dialog">
                                   <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                       <h4 class="modal-title" id="myModalLabel">Connexion ...</h4>
                                     </div>
                                     <div class="modal-body">
                                        
                                        <input type="text" id="username" class="small_text_edit form-control formulaire-xs" placeholder="E-mail" name="_username" />
                                        <input type="password" class="small_text_edit form-control formulaire-xs" id="password" placeholder="Mot de passe" name="_password" />
                                        <input type="hidden" name="_target_path" value="{{ app.request.schemeAndHttpHost~path(app.request.attributes.get('_route')) }}" />
                                        <a class="btn btn-link small_link link-xs" href="{{ path('bdls_projet_forgot') }}" >Mot de passe oublié ?</a>
                                       
                                     </div>
                                       <div class="api">
                                                <!-- Connexion via les Api -->
                                                {% block hwi_oauth_content %}
                                                     {%set idImg=1%}
                                                     {% if error is defined %}
                                                         <span>{{ error }}</span>
                                                     {% endif %}
                                                     {% for owner in hwi_oauth_resource_owners() %}
                                                     <a href="{{ hwi_oauth_login_url(owner) }}"><img id="logo" src="{{ asset('bundles/projet/media/pictures/logo'~idImg~'.png') }}" class="img-rounded"></a>
                                                     {%set idImg=idImg+1%}
                                                     {% endfor %}
                                                 {% endblock hwi_oauth_content %}
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                       <input class="btn btn-default orange_small_button " type="submit" value="Connexion">
                                     </div>
                                   </div>
                                 </div>
                                 </form>
                               </div>
                         
				<article class="use_description" >
					<div class="icon_article" id="img_un">
						<img class="img_un img-circle" src="{{ asset('bundles/projet/media/pictures/1_140x140.png') }}" alt="1">
					</div> 

					<div class="text_article">
                                            <h2 class="big_title_xs">Créez votre sondage</h2>
					</div>
                                        <p class="big_text text-xs">Un dîner entre amis à organiser ? Un avis à demander ? Créez votre sondage en un rien de temps selon vos envies.</p>
				</article>
                                
                            
				<article class="use_description">
					<div class="icon_article" id="img_deux">
						<img class="img_deux img-circle" src="{{ asset('bundles/projet/media/pictures/2_140x140.png') }}" alt="2">
					</div>
					<div class="text_article">
						<h2 class="big_title_xs">Ajoutez des propositions</h2>
					</div>
                                        <p class="big_text text-xs">Votre sondage peut comporter le nombre de propositions que vous souhaitez, ajoutez-en ou supprimez-en dynamiquement.</p>
				</article>
				
                                
				<article class="use_description">
					<div class="icon_article" id="img_trois">
						<img class="img_trois img-circle" src="{{ asset('bundles/projet/media/pictures/3_140x140.png') }}" alt="3">
					</div>
					<div class="text_article">
						<h2 class="big_title_xs big_title_xss">Partagez-le !</h2>
					</div>
                                        <p class="big_text big_text-xs">Invitez les personnes susceptibles de venir répondre à votre sondage. Après votre inscription, un mail leur sera envoyé pour qu'ils puissent venir faire leur choix.</p>
				</article>
                            
                                <!-- Formulaire pour le choix de sondage -->
				<article class="use_description">
					<div class="text_article div_etape4 div_etape4-xs text_article-xs">
						<h2 class="big_title big_title_xs big_title_xss">Choix du type : </h2>
						<form action="" method="post" {{ form_enctype(form) }}>
						    {{ form_widget(form) }}
                                                    
						    
                                                <!-- Select -->
                                                <div class="div_choix div_choix-xs">
                                                    <div class="btn-group styled_select_div_xs"> 
                                                      <!-- Boutton du Select -->
                                                      <span class="btn btn-default styled_select span_select" data-toggle="dropdown"><img src="{{ asset('bundles/projet/images/pictures/icone_autre.png') }}" class="img_option">Textuel</span>
                                                      <button type="button" class="btn btn-default dropdown-toggle styled_select_button" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                      </button> 
                                                      <!-- Liste des éléments -->
                                                     <ul class="dropdown-menu list_select" role="menu">
                                                        <li onclick="saveState(this);" class="list_option" id="c3"> <img src="{{ asset('bundles/projet/images/pictures/icone_autre.png') }}" class="img_option">Textuel</li>
                                                        <li onclick="saveState(this);" class="list_option" id="c1"  > <img src="{{ asset('bundles/projet/images/pictures/icone_map.png') }}" class="img_option">Lieux</li>
                                                        <li onclick="saveState(this);" class="list_option" id="c2" ><img src="{{ asset('bundles/projet/images/pictures/icone_calendrier.png') }}" class="img_option">Date</li>
                                                      </ul>
                                                    </div>
                                                    <input type="submit" class=" btn btn-default orange_button styled_a_div orange_big_button" value="C'est parti !" />
                                                    <!-- <a id="create_survey" class="btn btn-default orange_button styled_a_div" href="{{ path('bdls_projet_creation') }}">C'est parti !</a> -->
                                                    </div>
						</form>                                           
                                                
					</div>
				</article>                                                         
				<p id="asterisk" class="bold bold-xs">*Créer un sondage nécessite une inscription, celle-ci peut se faire en même temps que la création de votre sondage</p>                                                       
                        </div>
                        <script src="{{ asset('bundles/projet/js/home.js') }}" type="text/javascript"></script>
		{% endblock %}

