{% extends 'BdlsProjetBundle:Default:layout.html.twig' %}
		{% block body %}
			<div id="content">

				<article class="use_description" >
					<div class="icon_article" id="img_un">
						<img class="img_un img-circle" src="{{ asset('bundles/projet/images/pictures/1_140x140.png') }}" alt="1">
					</div>

					<div class="text_article">
						<h2 class="big_title">Créez votre sondage</h2>
						<p class="big_text">Un dîner entre amis à organiser ? Un avis à demander ? Créez votre sondage en un rien de temps selon vos envies.</p>
					</div>
				</article>
				<article class="use_description">
					<div class="icon_article" id="img_deux">
						<img class="img_deux img-circle" src="{{ asset('bundles/projet/images/pictures/2_140x140.png') }}" alt="2">
					</div>
					<div class="text_article">
						<h2 class="big_title">Ajoutez des propositions</h2>
						<p class="big_text">Votre sondage peut comporter le nombre de propositions que vous souhaitez, ajoutez-en ou supprimez-en dynamiquement.</p>
					</div>
				</article>
					
				<article class="use_description">
					<div class="icon_article" id="img_trois">
						<img class="img_trois img-circle" src="{{ asset('bundles/projet/images/pictures/3_140x140.png') }}" alt="3">
					</div>
					<div class="text_article">
						<h2 class="big_title">Partagez-le !</h2>
						<p class="big_text">Invitez les personnes susceptibles de venir répondre à votre sondage. Après votre inscription, un mail leur sera envoyé pour qu'ils puissent venir faire leur choix.</p>
					</div>
				</article>
                                
                                
				<p id="asterisk" class="bold">*Créer un sondage nécessite une inscription, celle-ci peut se faire en même temps que la création de votre sondage</p>
                                
                                <!-- Select -->
                                <div class="div_choix">
                                    <div class="btn-group styled_select_div">
                                      <!-- Boutton du Select -->
                                      <span class="btn btn-default styled_select" data-toggle="dropdown"><img src="{{ asset('bundles/projet/images/pictures/icone_autre.png') }}" class="img_option">Autre</span>
                                      <button type="button" class="btn btn-default dropdown-toggle styled_select_button" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <!-- Liste des éléments -->
                                      <ul class="dropdown-menu list_select" role="menu">
                                        <li class="list_option"><img src="{{ asset('bundles/projet/images/pictures/icone_autre.png') }}" class="img_option">Autre</li>
                                        <li class="list_option"><img src="{{ asset('bundles/projet/images/pictures/icone_map.png') }}" class="img_option">Lieux</li>
                                        <li class="list_option"><img src="{{ asset('bundles/projet/images/pictures/icone_calendrier.png') }}" class="img_option">Date</li>
                                      </ul>
                                    </div>
                                    <a id="create_survey" class="btn btn-default orange_button styled_select_div" href="{{ path('bdls_projet_creation') }}">C'est parti !</a>
                                </div>
                                
                                <!-- -->
                                
                        </div>
		{% endblock %}

