{% extends 'BdlsProjetBundle:Default:layout.html.twig' %}   
{% block body %}
	<div id="content">
		<div id ="poll">
			<div id="back_button_dashboard">
				<a class="orange_button" href="{{ path('bdls_projet_index') }}" >Retour</a>
			</div>
			<div id="poll_title_box" >
				{#$eventTitle#}
				<h1 class="title" > {{ data.eventTitle }} </h1>
				{#$creationDate, $userFName, $userLName, $eventDate#}
                                <p class="text">Créé le {{ data.creationDate }} | Par {{ data.user }} <br> {{data.eventDate }}</p>
			</div>
			
			<p class="text" > {{data.eventDescription}} </p>
			{%if not data.openedPoll  %}
				{{ data.eventDescription}}               
                                <h1 class="big_title" id="result">Le choix ayant recueilli le plus de voix est: {{ data.stat[0].answer}}</h1>
			{% endif %}
                        
			{#$this->getHomeUrl(); echo '/poll/view/'.$urlPoll  =>  http://127.0.0.1/poll/view/$urlPoll#}
			<form onsubmit="return formCheck(this);" method="post" action="{{ data.urlPoll}}">
				<div id="poll_choices">
					<table>
                                            {% for choice in data.stat %}  
                                                <tr>
                                                    {%if data.openedPoll  %}
                                                        <td><input type="checkbox" name="choiceId[]" value=" {{ choice.id }}"></td>
                                                    {%else %}
                                                         <td class="text">{{ loop.index }}</td>                                                      
                                                    {%endif %} 
                                                         
                                                     <td class="text"> {{ choice.answer }} </td> 
							<td class="progression_bar">
								<div class="container">
									<div class="meter" style="width: {{ choice.percent ~ '%' }} "></div>
									<p class="small_text">{{ choice.percent }} % </p>
								</div>
							</td>   
							<td class="text">							
								{% if choice.count == 1 %}
									{{ choice.object[0].issuedBy }}  à voté;
		
								{% elseif choice.count == 2 %}
									{{ choice.object[0].issuedBy }}  et {{ choice.object[1].issuedBy }}  ont voté;
                                                                        						
								{% elseif choice.count > 2 %}
                       
									{{ choice.object[0].issuedBy }} et <span id="link_{{ loop.index }}" class="link"> {{ choice.count-1 }}  autres personnes</span> ont voté; 
                                                                        <div id="vote_list_{{ loop.index }}" class="vote_list">
                                                                            <ul>
                                                                                {% for vote in choice.object %}
                                                                                    <li>{{vote.issuedBy }} </li>
                                                                                {%endfor%}
                                                                            </ul>
                                                                        </div>
                                                                       <script type="text/javascript">
                                                                            document.getElementById("link_{{ loop.index }}").addEventListener('mouseover', function(e){

                                                                                    document.getElementById("vote_list_{{ loop.index }}").style.display = "block";
                                                                            }, false);
                                                                            document.getElementById("link_{{ loop.index }}").addEventListener('mouseout', function(e){

                                                                                    document.getElementById("vote_list_{{ loop.index }}").style.display = "none";
                                                                            }, false);
                                                                        </script>
                                                                                                                                             
								{% else %}
									Aucune personne n'a encore voté;
								{%endif%}                                                                      															
							</td>
						</tr>                                                          
                                                            
                                             {% endfor %}					
					</table>
				</div>
				{%if data.openedPoll  %}
                                    <input type="text" class="small_text_edit" placeholder="Prénom Nom" name="value" value="{{ app.user.username }}">
                                    <input type="submit" class="orange_small_button" value="Voter" >
                                    {% if data['data_updated'] is defined %}
                                                    {% if data['data_updated']%} 
                                                            <div style="float: right;" class="success_message message_personal_data">Votre vote a bien été pris en compte.</div>
                                                    {% else %}
                                                            <div style="float: right;" class="error_message message_personal_data">Erreur, vérifiez les données saisies.</div>
                                                    {% endif %}
                                                    <script>
                                                            $('.success_message').delay(4000).slideUp(300);
                                                    </script>
                                   {% endif %}
                            {% endif %}                  
			</form>
		</div>
	</div>
{% endblock %}