{% extends 'BdlsProjetBundle:Default:layout.html.twig' %}
	{% block body %}
        <div id="content">			
                <h2 class="title">FILS DE ... {{ mot }}</h2>
				{% for key in mot %}
					{% if loop.index0 is divisibleby(2) %}
					x{{ loop.index0 }} : {{ key }} /
					{% else %}
					y{{ loop.index0-1 }} : {{ key }} //
					{% endif %}
				{% endfor %}
                <a class="orange_button" href="{{ path('bdls_projet_view') }}">Voir le sondage</a>
			{#{{ form_end(form) }}#}
        </div>
	{% endblock %}
